---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main" transition:animate="slide">
    <section id="hero" transition:animate="none"> 
      <div class="md:flex">
        <div>
          <h2
            class="text-gray-900 dark:text-gray-100 my-8 text-4xl font-bold tracking-tight sm:text-6xl md:text-[text-4rem] lg:text-[5.5rem] lg:leading-none"
          >
            Seja
            <br />
            <span
              class="text-transparent bg-gradient-to-r from-indigo-700 via-blue-500 to-cyan-400 bg-clip-text"
              >bem vindo</span
            >!
            <a
              target="_blank"
              href="/rss.xml"
              class="rss-link"
              aria-label="rss feed"
              title="RSS Feed"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
                ><path
                  d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
                ></path><path
                  d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
                ></path><circle cx="6" cy="18" r="2"></circle>
              </svg>
            </a>
          </h2>
          <p class="my-4 md:text-lg lg:text-xl">
            💻 Programador 🌴 do Rio de Janeiro.
          </p>
          <p class="my-4 md:text-lg lg:text-xl">
            💕 Dedicação para resolver problemas, criar coisas legais e beber ☕
            !
          </p>
          {
            // only display if at least one social link is enabled
            socialCount > 0 && (
              <div class="social-wrapper">
                <div class="social-links">Social Links:</div>
                <Socials />
              </div>
            )
          }
        </div>
        <div class="perfil animated ml-auto">
          <picture>
            <img
              src="https://avatars.githubusercontent.com/u/4684754?v=4"
              alt="Eduardo Lira"
              decoding="async"
              class="w-64 h-65 rounded-full dark:shadow-none dark:bg-gray-900 dark:ring-4 dark:ring-gray-900 dark:ring-opacity-50  transition duration-300 ease-in-out hover:shadow-lg dark:hover:shadow-black/30
               relative overflow-hidden bg-cover bg-[50%] bg-no-repeat"
            />
          </picture>
          <div></div>
          <div></div>
        </div>
      </div>
    </section>
    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2 class="text-gray-900 dark:text-gray-100 mb-8 text-2xl font-bold md:text-3xl lg:text-4xl">
              Destaque
            </h2>
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/blog/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </div>
          </section>
        </>
      )
    }
    <Hr />
    <section id="recent-posts">
      <h2
        class="text-gray-900 dark:text-gray-100 mb-8 text-2xl font-bold md:text-3xl lg:text-4xl"
      >
        Posts Recentes
      </h2>
      <ul class="grid grid-cols-1 gap-4 md:grid-cols-1">
        {
          sortedPosts.map(
            ({ data }, index) =>
              index < 4 && (
                <Card
                  href={`/blog/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div
        class="all-posts-btn-wrapper"
        class="mx-auto my-16 max-w-4xl px-4 lg:my-32"
      >
        ✨ Ver{" "}
        <LinkButton
          className="text-sky-600 underline dark:text-sky-300"
          href="/blog"
        >
          Todos os envios
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<style>
 
  #hero {
    @apply pt-32;
  }
  #hero h1 {
    @apply my-4 inline-block bg-clip-text text-3xl text-lg font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mb-6 mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }
 
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
