---
 
// Remove current url path and remove trailing slash if exists
const currentUrlPath = Astro.url.pathname.replace(/\/+$/, "");

// Get url array from path
// eg: /tags/tailwindcss => ['tags', 'tailwindcss']
const breadcrumbList = currentUrlPath.split("/").slice(1);

// if breadcrumb is Home > Posts > 1 <etc>
// replace Posts with Posts (page number)
breadcrumbList[0] === "blog" &&
  breadcrumbList.splice(0, 2, `Posts (página ${breadcrumbList[1] || 1})`);
  
  
const numberOfItems: number = breadcrumbList.length;

---

<nav class="breadcrumb pt-8" aria-label="breadcrumb">

  <ul class="breadcrumb2 pt-8">
 
    {
      breadcrumbList.map((breadcrumb, index) =>
        index + 1 === breadcrumbList.length ? (
          <li class={`bg-gradient-to-r from-blue-500  breadcrumb-item item-${index + 1}`}>
            <a href="#">   
               
            {
               numberOfItems === 1 && breadcrumb ==='tags' ? ( 
                    <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" /></svg></span> 
                    <span class="text">{breadcrumb}</span>           
                ):(
                  numberOfItems === 1 && breadcrumb ==='sobre' ? (
                      <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 48 48" stroke="currentColor" ><path   stroke-linecap="round" stroke-linejoin="round" d="M37,40H11l-6,6V12c0-3.3,2.7-6,6-6h26c3.3,0,6,2.7,6,6v22C43,37.3,40.3,40,37,40z"></path><path fill="currentColor" d="M22 20H26V31H22zM24 13A2 2 0 1 0 24 17 2 2 0 1 0 24 13z"></path></svg></span> 
                      <span class="text">{breadcrumb}</span>
                    ) : (
                      <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" /></svg></span> 
                      <span class="text"> {decodeURIComponent(breadcrumb)}</span>  
                  )
 
                )
                
              } 
              </a>
          </li>
        ) : (
          <li class={`bg-gradient-to-r from-blue-500  to-blue-400 breadcrumb-item item-${index + 1}`}>
            <a href={`/${breadcrumb}`}>
              <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" /></svg></span>
              <span class="text">{breadcrumb}</span>
            </a>
          </li>        
          
        )
      )
      
    }

    <li class={`bg-gradient-to-r from-indigo-700 via-blue-500 to-cyan-400 breadcrumb-item item-0`}>
      <a href="/">
        <span class="icon icon-file"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg></span>
        <span class="text">Home</span>
      </a>
    </li>

  </ul>
</nav>
 
<style>
 .breadcrumb {
  @apply mx-auto mb-1 w-full max-w-4xl px-4 pt-4;
}


ul.breadcrumb2 {
  margin-left: 42px;
  display: inline-block;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row; /* Exibir os itens horizontalmente */
}
ul.breadcrumb2 li {
  float: right;
  padding: 5px;
  background-color: #ffffff1a;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  position: relative;
  margin-left: -42px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 3px;
  
}
ul.breadcrumb2 li a {
  overflow: hidden;
  -moz-border-radius:32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  height: 32px;
  color: #f3f3f3;
  background-color: #ffffff1a;
  text-align: center;
  min-width: 32px;
  display: block;
  line-height: 32px;
  padding-left: 52px;
  padding-right: 33.33333px;
  width: 32px;
}
ul.breadcrumb2 li a .icon {
  display: inline-block;
}
ul.breadcrumb2 li a .text {
  display: none;
  opacity: 0;
}
ul.breadcrumb2 li a:hover {
  width: 100%;
  background-color: #ffffff1a;

}

html[data-theme="dark"] ul.breadcrumb2 li a:hover .text {
  color: #f3f3f3;
}
html[data-theme="light"] ul.breadcrumb2 li a:hover .text {
  color: #000000;
}
ul.breadcrumb2 li a:hover .text{
  display: inline-block;
  opacity: 1 !important;

}
 

ul.breadcrumb2 li:last-child a {
  padding: 0;
}
ul.breadcrumb2 li:last-child:hover {
  padding: 3px;
  margin-top: 0;
}
ul.breadcrumb2 li:last-child:hover a {
  width: 42px;
  height: 42px;
  line-height:42px;
} 

/* Estilos para 2 itens no breadcrumb */
li.breadcrumb-item.item-1 {
  order: 2;
  z-index: 2; 
 
}
li.breadcrumb-item.item-0 {
  order: 1;
  z-index: 3; 
 
}

li.breadcrumb-item.item-2 {
  order: 3;
  z-index: 1; 
}
 
</style>
