---
export interface Props {
  currentPage: number;
  totalPages: number;
  prevUrl: string;
  nextUrl: string;
}

const { currentPage, totalPages, prevUrl, nextUrl } = Astro.props;

const prev = currentPage > 1 ? "" : "disabled";
const next = currentPage < totalPages ? "" : "disabled";
---

{
  totalPages > 1 && (
    <nav class="pagination-wrapper join" aria-label="Pagination">
      <a
        href={prevUrl}
        class={`${prev} btn join-item ${prev === "disabled" ? "disabled" : ""}`}
        aria-disabled={prev === "disabled"}
        aria-label="Anterior"
      >
        <svg
          stroke="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
          class={`${prev}-svg`}
        >
          <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z" />
        </svg>
        Anterior
      </a>
      <div
        class="tooltip"
        data-tip={
          next === "disabled"
            ? "🎉 Parabéns! 🥳 Você chegou a última página"
            : `Você está na página ${currentPage} ➡️ Prossiga! 🚀`
        }
      >
        <div class="btn join-item">
          {currentPage} / {totalPages}
        </div>
      </div>

      <a
        href={nextUrl}
        class={`${next} btn join-item ${next === "disabled" ? "disabled" : ""}`}
        aria-disabled={next === "disabled"}
        aria-label="Próximo"
      >
        Próximo
        <svg
          stroke="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
          class={`${next}-svg`}
        >
          <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
        </svg>
      </a>
    </nav>
  )
}

<style>
  .pagination-wrapper {
    @apply mb-8 mt-auto flex justify-center;
  }

  .disabled {
    @apply pointer-events-none select-none opacity-50;
  }
</style>
