---
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Hr from "@components/Hr.astro";

interface StringTitleProp {
  pageTitle: string;
  pageDesc?: string;
}

interface ArrayTitleProp {
  pageTitle: [string, string];
  titleTransition: string;
  pageDesc?: string;
}

export type Props = StringTitleProp | ArrayTitleProp;

const { props } = Astro;
---
<Hr />
<Breadcrumbs />
 
<main id="main-content" transition:animate="slide"> 
  {
    "titleTransition" in props ? (
      <h1>
        {props.pageTitle[0]}
        <span transition:name={props.titleTransition}>
          {props.pageTitle[1]}
        </span>
      </h1>
    ) : (
      <h1>{props.pageTitle}</h1>
    )
  }
  <p>{props.pageDesc}</p>
  <slot />
</main>

<style>
  #main-content {
    @apply max-w-4xl mx-auto px-4 pb-12 w-full;
  }
  #main-content h1 {
    @apply font-semibold text-2xl sm:text-3xl;
  }
  #main-content p {
    @apply mt-2 mb-6 italic;
  }
</style>